.container {
    //background-color: #f2f1f0;
    //background-color: #e2e1e0;
    background-color: transparent;
    //border: 1px solid black;
    //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: calc(100vh - 94px - 59px);     // Header height + its margins; Tabs heights
    margin: 10px 10px 0 10px;
}

.mat-grid-tile {
    
}

.tile-wrapper {
    //background-color: pink;
    height: 100%;
    overflow: auto;
    //padding: 10px;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}
